@import "../../styles/variables";

.cartPage {
  color: $black-color;
  position: relative;
  width: 100%;

  &__wrapper {
    // position: absolute;
    // width: 100%;
    // height: 100%;
  }

  &__content {
    margin: 10.4rem;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 4.7rem;

    &__title {
      font-size: 2.4rem;
    }

    &__icon {
    }
  }

  &__empty {
    font-size: 1.2rem;
    margin: 40.1rem auto;
    text-align: center;

    h4 {
      font-size: 2.8rem;
      font-weight: bold;
      margin-bottom: 1.6rem;
    }

    p {
      font-size: 2rem;
      color: #616161;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10.8rem;
  }

  &__item {
    display: flex;
    gap: 20px;
    padding: 4rem 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;

    &__image img {
      width: 10rem;
      height: 10rem;
      border-radius: 0.8rem;
      margin-right: 5rem;
      object-fit: cover;
    }

    &__details {
      display: flex;
      justify-content: space-between;
      width: 100%;

      & > div:first-child {
        .name {
          font-size: 2rem;

          font-weight: semibold;
          margin-bottom: 0.8rem;
        }

        .description {
          font-size: 1.4rem;
          margin-bottom: 0.8rem;
        }

        .quantity {
          font-size: 1.4rem;
          margin-bottom: 0.8rem;
          color: $green-color;
        }

        .actions {
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          gap: 0.8rem;
        }

        // .removeButton,
        // .addButton {
        //   width: 1.8rem;
        //   height: 1.8rem;
        // }
      }

      & > div:last-child {
        .price {
          font-size: 1.4rem;
          margin-bottom: 2.4rem;
          font-weight: bold;
        }
      }
    }
  }

  &__summary {
    width: 51.7rem;
    height: 26.5rem;
    font-size: 1.6rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
  }

  &__tax,
  &__totalCost,
  &__shipping {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__totalCost {
    font-weight: bold;
    margin-bottom: 6.4rem;
  }

  &__return {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__clearButton {
    background-color: #d9534f;
    color: white;
  }

  &__paymentButton,
  &__continueButton {
    width: 24.9rem;
    height: 5.6rem;
  }
}
