$primary-color: hsl(76, 62%, 29%);
$secondary-color: hsl(0, 0%, 96%);
$surface-color: hsl(0, 0%, 98%);
$orange-color: hsl(33, 100%, 47%);
$black-color: hsl(0, 0%, 0%);
$white-color: hsl(0, 0%, 100%);
$red-color: hsl(0, 100%, 50%);
$green-color: hsl(126, 78%, 31%);
$grey-color: hsl(0, 0%, 30%);
