@import "../../../styles/variables";
@import "../../../styles/responsive";

.header {
  width: 100%;
  height: 8rem;
  font-size: 1.6rem;
  position: relative;
  background-color: $secondary-color;

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 100%;
    height: 100%;
    padding: 0 3.2rem;

    @include media("<phone") {
      padding: 0 1.6rem;
    }
  }

  &__logo {
    img {
      width: auto;
      height: 5rem;

      @include media("<phone") {
        height: 3rem;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55.3rem;
    height: 1.9rem;

    @include media("<phone") {
      display: none;
    }
  }

  &__options {
    width: 30rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;

    &__cart {
      background-color: transparent;
      position: relative;

      & > img {
        width: 2.4rem;
        height: 2.4rem;
      }

      span {
        border-radius: 100%;
        color: $white-color;
        background-color: $red-color;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1.3rem;
        top: -0.8rem;
        right: -1.2rem;

        @include media("<phone") {
          width: 1.6rem;
          height: 1.6rem;
          font-size: 1rem;
        }
      }
    }

    &__menu {
      background-color: transparent;
      display: none;

      @include media("<phone") {
        display: block;
      }

      & > img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}
