@import "../../../styles/variables";
@import "../../../styles/responsive";

.cartCard {
  &__item {
    display: flex;
    gap: 20px;
    padding: 4rem 0;
    // border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;

    @include media("<phone") {
      gap: 1.6rem;
    }

    &__image img {
      width: 10rem;
      height: 10rem;
      border-radius: 0.8rem;
      margin-right: 5rem;
      object-fit: cover;

      @include media("<phone") {
        margin-right: 0;
      }
    }

    &__details {
      display: flex;
      justify-content: space-between;
      width: 100%;

      & > div:first-child {
        @include media("<phone") {
          width: 10.6rem;
        }

        .name {
          font-size: 2rem;

          font-weight: semibold;
          margin-bottom: 0.8rem;

          @include media("<phone") {
            font-size: 1.4rem;
          }
        }

        .description {
          font-size: 1.4rem;
          margin-bottom: 0.8rem;

          @include media("<phone") {
            font-size: 1.2rem;
          }
        }

        .quantity {
          font-size: 1.4rem;
          margin-bottom: 0.8rem;
          color: $green-color;
        }

        .actions {
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          gap: 0.8rem;
        }

        // .removeButton,
        // .addButton {
        //   width: 1.8rem;
        //   height: 1.8rem;
        // }
      }

      & > div:last-child {
        .price {
          font-size: 1.4rem;
          margin-bottom: 2.4rem;
          font-weight: bold;
        }
      }
    }
  }
}
